body {
    background: rgba(27, 10, 187, 0.411);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 30px;
  }